[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
schematics = "*"
pymongo = "*"
backoff = "*"
pytest = "*"
snapshottest = "*"
isort = "*"
black = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
boto3 = "*"
gunicorn = "*"
furl = "*"

[requires]
python_version = "3.7"
